body{
    background-image: url("istockphoto-1292919739-2048x2048.jpg");
}
h1 {
    color: orangered;
    font-size: 45px;
}


#b1, #b2, #b3, #b4, #b5, 
#b6, #b7, #b8, #b9 {
    width: 80px;
    height: 52px;
    margin: auto;
    border: 1px solid gray;
    border-radius: 6px;
    font-size: 30px;
    text-align: center;
}


#but {
    box-sizing: border-box;
    width: 95px;
    height: 40px;
    border: 1px solid dodgerblue;
    margin: auto;
    border-radius: 4px;
    font-family: Verdana, 
        Geneva, Tahoma, sans-serif;

    background-color: dodgerblue;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
#print {
    font-family: Verdana, 
        Geneva, Tahoma, sans-serif;

    color: dodgerblue;
    font-size: 20px;
}


#main {
    text-align: center;
    background-image: src="";
}

#ins {
    font-family: Verdana, 
        Geneva, Tahoma, sans-serif;
          
    color: dodgerblue;
    font-size: 17px;
}

.scoreboard {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 30px;
    opacity: 10px ;
    box-shadow: 10px;
  }
  .player {
    margin-right: 20px;
padding: 15px;
  }