body{
    background-image: url("picture/psp-play-playstation-joystick-wallpaper-preview.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}
h1 {
    color: greenyellow;
    font-size: 45px;
}


#b1, #b2, #b3, #b4, #b5, 
#b6, #b7, #b8, #b9 {
    width: 100px;
    height: 100px;
    margin: 40;
    margin-top: 10PX;
    border: 1px solid rgba(9, 9, 9, 0.553);
    border-radius: 10px;
    font-size: 30px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.626);
cursor:context-menu;
}


#but {
    box-sizing: border-box;
    width: 95px;
    height: 50px;
    border: 3px solid orangered;
    margin: 15PX;
    border-radius: 5px;
    font-family: Verdana, 
        Geneva, Tahoma, sans-serif;

    background-color: orangered;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
#print {
    font-family: Verdana, 
        Geneva, Tahoma, sans-serif;

    color: blue;
    font-size: 20px;
}

#main1{
    width: 30%;
    color: white ;
    font-size: 30px;
}
#main3{
    width: 30%;
    color: greenyellow;
    text-align: center;
    font-size:30px ;
    align-content: flex-start;

}
a{
    color: white;
}

#main2 {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.584);
    height: 43rem;
    width: 40%;
}

#ins {
    font-family: Verdana, 
        Geneva, Tahoma, sans-serif;
          
    color: greenyellow;
    font-size: 20px;
}

.scoreboard {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 30px;
    opacity: 25px ;
    box-shadow: 20px;
    color: greenyellow;
  }
  .player {
    margin-right: 20px;
padding: 15px;
cursor: pointer;
  }